@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Guthen';
  src: url('../assets/fonts/GuthenBlootsPersonalUse-ExwW.ttf');
}
@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter-Regular.ttf');
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.imag{
  border-top-right-radius: 10px;   
  border-bottom-right-radius: 10px;   
  border-bottom-left-radius: 10px;
  border-top-left-radius: 30%;   
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@layer base{

}

@layer components{

  /* prototypage du footer */
  .list{
    @apply text-sm text-slat font-medium mt-7
  }
  .lig{
    @apply  mt-4 cursor-pointer hover:text-orag  font-normal text-lg
  }

  .title4{
    @apply text-sm font-semibold ;
  }

  .footer-blc{
    @apply w-full lg:w-11/12 text-center ;
  }

  .foot{
    @apply w-full mx-auto sm:w-6/12 lg:w-5/12 lg:flex;
  }
  .listwork{
    @apply my-5 mr-2 flex;
  }
  .spanwork{
    @apply text-gree text-3xl mr-4
  }
  .letterwork{
    @apply text-black font-semibold text-2xl
  }
  .service-content1{
    @apply  px-5 w-11/12 flex flex-col items-center mx-auto md:flex-row md:w-11/12  md:flex md:justify-around  lg:w-9/12
  }
  
}
